@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato|Staatliches&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  background: #f4f4f4;
  color: #000;
}

a {
  display: inline-block;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

ul {
  list-style: none;
}

header {
  width: 100%;
  height: auto;
  padding: 10px;
  background: #fff;
}

@media screen and (min-width: 768px) {
  header {
    padding: 5px;
  }
}

header #navbar {
  max-width: 1098px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  header #navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header .logo img {
  display: inline-block;
  width: 180px;
  margin: 10px;
}

@media screen and (min-width: 768px) {
  header .logo img {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
}

header .social {
  display: none;
}

@media screen and (min-width: 768px) {
  header .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    margin: 10px;
  }
  header .social i {
    color: #777;
    font-size: 2rem;
    margin: 5px;
  }
}

header .site-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  header .site-links {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 10px;
  }
}

header .site-links a {
  padding: 7px;
}

@media screen and (min-width: 768px) {
  header .site-links a {
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 900;
    color: #4d4d4d;
  }
}

header .site-links .active-link {
  background-color: #c72727;
  color: #fff;
}

.showcase-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1098px;
  height: 100%;
  margin: auto;
}

@media screen and (min-width: 600px) {
  .showcase-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

#showcase {
  position: relative;
  background: url("../images/featured.jpg") center center no-repeat/cover;
  height: 50vh;
  padding: 32px;
  margin-bottom: 20px;
  overflow: hidden;
}

#showcase::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

#showcase #showcase-content {
  position: relative;
  z-index: 200;
}

@media screen and (min-width: 600px) {
  #showcase #showcase-content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

#showcase #showcase-content .tag {
  display: inline-block;
  font-size: 0.7rem;
  padding: 6px;
  border-radius: 10px;
  background: #f99500;
}

#showcase #showcase-content .showcase-title {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  font-family: "Staatliches", cursive;
}

#showcase #showcase-content .showcase-paragraph {
  display: block;
  font-weight: normal;
  text-transform: none;
  line-height: 1.5rem;
}

#showcase #showcase-content > * {
  color: #fff;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.btn {
  padding: 10px 20px;
  background: #000;
  font-size: 0.8rem;
  font-weight: normal;
}

.btn-primary {
  background: #c72727;
  color: #fff;
}

.btn-primary:hover {
  background: #ba2424;
}

#news-display {
  font-family: "Staatliches", cursive;
  background: #f4f4f4;
}

.editors-pick-container {
  max-width: 1098px;
  margin: auto;
  padding: 0 32px;
}

.editors-pick-container h2 {
  padding: 10px 0;
}

.news-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  margin-bottom: 50px;
}

.news-grid .news-item {
  padding: 20px;
  grid-column: span 6;
  background: #fff;
}

@media screen and (min-width: 601px) {
  .news-grid .news-item {
    grid-column: span 3;
  }
}

@media screen and (min-width: 769px) {
  .news-grid .news-item {
    grid-column: span 2;
  }
  .news-grid .news-item:first-child, .news-grid .news-item:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-column: span 4;
  }
  .news-grid .news-item:first-child .news-thumbnail, .news-grid .news-item:last-child .news-thumbnail {
    margin: 0;
    margin-right: 15px;
    width: 50%;
  }
  .news-grid .news-item:first-child .news-item-content, .news-grid .news-item:last-child .news-item-content {
    width: 50%;
  }
  .news-grid .news-item:last-child {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.news-grid .news-item .news-thumbnail {
  display: block;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
}

.news-grid .news-item .news-item-summary {
  font-family: "Lato", sans-serif;
  line-height: 1.4rem;
  overflow: hidden;
}

.news-grid .news-item .news-item-title {
  font-size: 1.2rem;
}

.news-grid .news-item .tag-ent {
  display: inline-block;
  padding: 7px;
  border-radius: 13px;
  font-family: "Lato", sans-serif;
  font-size: 0.7rem;
  color: #fff;
  background: #a66bbe;
}

.news-grid .news-item .tag-sport {
  display: inline-block;
  padding: 7px;
  border-radius: 13px;
  font-family: "Lato", sans-serif;
  font-size: 0.7rem;
  color: #fff;
  background: #f99500;
}

.news-grid .news-item .tag-tech {
  display: inline-block;
  padding: 7px;
  border-radius: 13px;
  font-family: "Lato", sans-serif;
  font-size: 0.7rem;
  color: #fff;
  background: #009cff;
}

.news-item.primary-bg {
  background: #c72727;
  color: #fff;
}

.news-item.primary-bg a {
  color: #fff;
}

.news-item.dark-bg {
  background: #333;
  color: #fff;
}

.news-item.dark-bg a {
  color: #fff;
}

footer {
  background: #333;
  padding: 25px;
}

.footer-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  grid-gap: 15px;
  max-width: 1098px;
  margin: auto;
}

.footer-item {
  grid-column: span 8;
  margin-bottom: 25px;
  color: #fff;
}

@media screen and (min-width: 601px) {
  .footer-item {
    grid-column: span 2;
  }
}

.footer-item > * {
  margin-bottom: 10px;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.footer-item:first-child {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.1);
}

@media screen and (min-width: 601px) {
  .footer-item:first-child {
    grid-column: span 3;
    border-bottom: 0;
  }
}

.footer-item .footer-logo {
  display: inline-block;
  width: 150px;
}

.footer-item h2 {
  font-family: "Staatliches", cursive;
  font-size: 1.2rem;
}

.footer-item .footer-email-newsletter {
  padding-bottom: 20px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.1);
}

@media screen and (min-width: 601px) {
  .footer-item .footer-email-newsletter {
    border-bottom: 0;
  }
}

.footer-item .footer-email-newsletter .newsletter-form input {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 10px;
}

.footer-item .footer-email-newsletter .newsletter-form a[type="submit"] {
  display: block;
  width: 100%;
  text-align: center;
  padding: 5px;
}

.footer-site-links h2 {
  margin-bottom: 15px;
}

.footer-site-links li a {
  color: #fff;
}

.footer-site-links li a:hover {
  color: #c72727;
}

.footer-site-links li {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.1);
  padding: 10px 0;
}

.footer-join-club h2 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.footer-join-club p {
  margin-bottom: 5px;
}

.copyright {
  grid-column: 1 / -1;
  padding: 15px;
  text-align: center;
  color: #fff;
  font-size: 0.7rem;
  background: #444;
}

.btn-secondary {
  background: #f99500;
  color: #fff;
}

.btn-secondary:hover {
  background: #d58000;
}

#about {
  background: #f4f4f4;
  padding: 0 32px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.about-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  grid-gap: 20px;
  max-width: 1098px;
  margin: auto;
}

.about-text-content {
  grid-column: 1/-1;
  padding: 1rem;
  background: #fff;
  text-align: left;
}

@media screen and (min-width: 601px) {
  .about-text-content {
    grid-column: span 6;
  }
}

.about-text-content h1 {
  margin-bottom: 10px;
  font-family: "Staatliches", cursive;
  font-size: 1.9rem;
}

.about-text-content p {
  line-height: 1.5rem;
  color: #4d4d4d;
}

.about-join {
  grid-column: 1/-1;
  padding: 15px;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 601px) {
  .about-join {
    grid-column: span 2;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.about-join h2 {
  margin-bottom: 10px;
  font-family: "Staatliches", cursive;
}

.about-join p {
  margin-bottom: 5px;
}

.about-join a {
  display: block;
  width: 100%;
  font-size: 1rem;
}

.btn-dark {
  background: #333;
  color: #fff;
}

.about-join.primary-bg {
  background: #c72727;
  color: #fff;
}

#article {
  background: #f4f4f4;
}

.article-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  grid-gap: 20px;
  max-width: 1098px;
  padding: 32px;
  margin: auto;
}

.article-content {
  padding: 15px;
  background: #fff;
  grid-column: 1/-1;
}

@media screen and (min-width: 601px) {
  .article-content {
    grid-column: span 2;
    grid-row: 1/-1;
  }
}

.article-content img {
  width: 100%;
}

.article-content h1 {
  margin-bottom: 10px;
  font-size: 2rem;
  font-family: "Staatliches", cursive;
  text-align: center;
}

@media screen and (min-width: 601px) {
  .article-content h1 {
    font-size: 3rem;
    text-align: left;
  }
}

.article-content .article-writer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  background: #f1f1f1;
}

.article-content .article-writer p {
  font-size: 0.8rem;
}

.article-content .article-writer .tag-ent {
  display: inline-block;
  padding: 7px;
  border-radius: 13px;
  font-family: "Lato", sans-serif;
  font-size: 0.7rem;
  color: #fff;
  background: #a66bbe;
}

.aticle-category {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  background: #fff;
  text-align: center;
  grid-column: 1/-1;
}

@media screen and (min-width: 601px) {
  .aticle-category {
    grid-column: span 1;
  }
}

.aticle-category h2 {
  font-family: "Staatliches", cursive;
}

.aticle-category li {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
}

.aticle-category li a {
  font-weight: normal;
}

.aticle-category li a:hover {
  color: #c72727;
}

.article-join {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 15px;
  background: #f99500;
  color: #fff;
  text-align: center;
  grid-column: 1/-1;
}

@media screen and (min-width: 601px) {
  .article-join {
    grid-column: span 1;
  }
}

.article-join h2 {
  font-family: "Staatliches", cursive;
  margin-bottom: 10px;
}

.article-join p {
  margin-bottom: 10px;
}

.article-join a {
  font-size: 1rem;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */