// Import lato font from fonts.google.com
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
// Import Staatliches font from fonts.google.com
@import url("https://fonts.googleapis.com/css?family=Lato|Staatliches&display=swap");

// Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Global Vars
$light-bg: #fff;
$dark-bg: #000;
$dark-text: #000;
$primary-color: #c72727;
$secondary-color: #f99500;
$light-text: #fff;
$max-width: 1098px;
$sport-tag-bg: #f99500;
$ent-tag-bg: #a66bbe;
$tech-tag-bg: #009cff;

// html body
html,
body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  background: #f4f4f4;
  color: $dark-text;
}

// style for links
a {
  display: inline-block;
  color: $dark-text;
  text-decoration: none;
  font-weight: bold;
}

// style for list
ul {
  list-style: none;
}

// Header

@mixin desktop-up-nav {
  @media screen and (min-width: 768px) {
    @content;
  }
}
header {
  width: 100%;
  height: auto;
  padding: 10px;
  background: $light-bg;
  @include desktop-up-nav {
    padding: 5px;
  }
  #navbar {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include desktop-up-nav {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .logo img {
    display: inline-block;
    width: 180px;
    margin: 10px;
    @include desktop-up-nav {
      flex: 3;
    }
  }
  .social {
    display: none;
    @include desktop-up-nav {
      display: flex;
      justify-content: flex-end;
      flex: 3;
      margin: 10px;
      i {
        color: #777;
        font-size: 2rem;
        margin: 5px;
      }
    }
  }
  .site-links {
    display: flex;
    justify-content: center;
    align-items: center;
    @include desktop-up-nav {
      flex: 1;
      justify-content: flex-end;
      margin: 10px;
    }
    a {
      padding: 7px;
      @include desktop-up-nav {
        padding: 10px;
        font-size: 1.1rem;
        font-weight: 900;
        color: lighten($dark-text, 30%);
      }
    }
    .active-link {
      background-color: $primary-color;
      color: $light-text;
    }
  }
}

// Hero section

@mixin desktop-up-showcase {
  @media screen and (min-width: 600px) {
    @content;
  }
}

.showcase-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  max-width: $max-width;
  height: 100%;
  margin: auto;
  @include desktop-up-showcase {
    grid-template-columns: 1fr 1fr;
  }
}

#showcase {
  position: relative;
  background: url("../images/featured.jpg") center center no-repeat / cover;
  height: 50vh;
  padding: 32px;
  margin-bottom: 20px;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }

  #showcase-content {
    position: relative;
    z-index: 200;
    @include desktop-up-showcase {
      grid-column: 1/2;
    }

    .tag {
      display: inline-block;
      font-size: 0.7rem;
      padding: 6px;
      border-radius: 10px;
      background: $secondary-color;
    }

    .showcase-title {
      display: block;
      font-size: 2rem;
      font-weight: bold;
      font-family: "Lato", sans-serif;
      font-family: "Staatliches", cursive;
    }

    .showcase-paragraph {
      display: block;
      font-weight: normal;
      text-transform: none;
      line-height: 1.5rem;
    }

    & > * {
      color: $light-text;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
  }
}

// Buttons
.btn {
  padding: 10px 20px;
  background: #000;
  font-size: 0.8rem;
  font-weight: normal;
}

.btn-primary {
  background: $primary-color;
  color: $light-text;
  &:hover {
    background: darken($primary-color, 3%);
  }
}

// News Display

@mixin tags {
  display: inline-block;
  padding: 7px;
  border-radius: 13px;
  font-family: "Lato", sans-serif;
  font-size: 0.7rem;
  color: #fff;
  @content;
}

@mixin tablet-view-news-display {
  @media screen and (min-width: 601px) {
    @content;
  }
}

@mixin desktop-view-news-display {
  @media screen and (min-width: 769px) {
    @content;
  }
}

#news-display {
  font-family: "Staatliches", cursive;
  background: #f4f4f4;
}

.editors-pick-container {
  max-width: $max-width;
  margin: auto;
  padding: 0 32px;
  h2 {
    padding: 10px 0;
  }
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  margin-bottom: 50px;

  .news-item {
    padding: 20px;
    grid-column: span 6;
    background: #fff;
    @include tablet-view-news-display {
      grid-column: span 3;
    }
    @include desktop-view-news-display {
      &:first-child,
      &:last-child {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: span 4;
        .news-thumbnail {
          margin: 0;
          margin-right: 15px;
          width: 50%;
        }
        .news-item-content {
          width: 50%;
        }
      }
      &:last-child {
        flex-direction: row-reverse;
      }
      grid-column: span 2;
    }
    .news-thumbnail {
      display: block;
      width: 100%;
      margin: auto;
      margin-bottom: 20px;
    }

    .news-item-summary {
      font-family: "Lato", sans-serif;
      line-height: 1.4rem;
      overflow: hidden;
    }
    .news-item-title {
      font-size: 1.2rem;
    }
    .tag-ent {
      @include tags {
        background: $ent-tag-bg;
      }
    }
    .tag-sport {
      @include tags {
        background: $sport-tag-bg;
      }
    }
    .tag-tech {
      @include tags {
        background: $tech-tag-bg;
      }
    }
  }
}

.news-item.primary-bg {
  background: $primary-color;
  color: $light-text;
}

.news-item.dark-bg {
  background: #333;
  color: $light-text;
}

// Footer

@mixin tablet-up-footer {
  @media screen and (min-width: 601px) {
    @content;
  }
}

footer {
  background: #333;
  padding: 25px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 15px;
  max-width: $max-width;
  margin: auto;
}

.footer-item {
  grid-column: span 8;
  margin-bottom: 25px;
  color: #fff;
  @include tablet-up-footer {
    grid-column: span 2;
  }
  & > * {
    margin-bottom: 10px;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  &:first-child {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.1);
    @include tablet-up-footer {
      grid-column: span 3;
      border-bottom: 0;
    }
  }
  .footer-logo {
    display: inline-block;
    width: 150px;
  }
  h2 {
    font-family: "Staatliches", cursive;
    font-size: 1.2rem;
  }
  .footer-email-newsletter {
    padding-bottom: 20px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.1);
    @include tablet-up-footer {
      border-bottom: 0;
    }
    .newsletter-form {
      input {
        display: block;
        width: 100%;
        margin: 5px 0;
        padding: 10px;
      }
      a[type="submit"] {
        display: block;
        width: 100%;
        text-align: center;
        padding: 5px;
      }
    }
  }
}

.footer-site-links {
  h2 {
    margin-bottom: 15px;
  }
  li a {
    color: $light-text;
    &:hover {
      color: $primary-color;
    }
  }
  li {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.1);
    padding: 10px 0;
  }
}

.footer-join-club {
  h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 5px;
  }
}

.copyright {
  grid-column: 1 / -1;
  padding: 15px;
  text-align: center;
  color: #fff;
  font-size: 0.7rem;
  background: #444;
}

.btn-secondary {
  background: $secondary-color;
  color: $light-text;
  &:hover {
    background: darken($secondary-color, 7%);
  }
}

// About Page

@mixin tablet-up-about {
  @media screen and (min-width: 601px) {
    @content;
  }
}

// About section
#about {
  background: #f4f4f4;
  padding: 0 32px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 20px;
  max-width: $max-width;
  margin: auto;
}

.about-text-content {
  grid-column: 1/-1;
  padding: 1rem;
  background: #fff;
  text-align: left;
  @include tablet-up-about {
    grid-column: span 6;
  }
  h1 {
    margin-bottom: 10px;
    font-family: "Staatliches", cursive;
    font-size: 1.9rem;
  }
  p {
    line-height: 1.5rem;
    color: lighten(#000, 30%);
  }
}

.about-join {
  grid-column: 1/-1;
  padding: 15px;
  width: 100%;
  text-align: center;
  @include tablet-up-about {
    grid-column: span 2;
    height: fit-content;
  }
  h2 {
    margin-bottom: 10px;
    font-family: "Staatliches", cursive;
  }
  p {
    margin-bottom: 5px;
  }
  a {
    display: block;
    width: 100%;
    font-size: 1rem;
  }
}

// button dark
.btn-dark {
  background: #333;
  color: $light-text;
}

.about-join.primary-bg {
  background: $primary-color;
  color: $light-text;
}
